* {
  font-family: 'Varela Round', sans-serif !important;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(76,76,76,1) 0%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(76,76,76,1) 0%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */


}

section {
  padding: 50px 0px;
}

section#welcome {
  height: 50vh;
}

section#welcome .grid {
  height: 100%;
}

section#welcome .grid .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#aboutme {
  height: 50vh;
}
