.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #5d3e32;
}

.form-control:focus,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  border-color: #5d3e32;
  box-shadow: 0 0 0 0.2rem rgba(93,62,50,.25);
}

a,
a:hover {
  color: #5d3e32;
  font-weight: bold;
}
