html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 yOverflow;
          animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 yOverflow;
  overflow-x: hidden;
}

#bg {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2f016b), to(#6100FF));
  background-image: linear-gradient(to bottom right, #2f016b, #6100FF);
  width: 100vw;
}

#file-mockup {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.21, 0.6, 0.6, 1);
          transition-timing-function: cubic-bezier(0.21, 0.6, 0.6, 1);
  background-color: white;
  min-height: 500px;
  width: 100vw;
  max-width: 80%;
  -webkit-box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 slideInForm;
          animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 slideInForm;
  overflow: hidden;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#file-mockup h1 {
  margin-left: 40px;
  margin-top: 30px;
}

#file-mockup h2 {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 40px;
}

#file-mockup p {
  padding: 40px;
}

#file-mockup .button {
  margin-left: 40px;
  padding: 25px;
  margin-top: 10px;
  background: none;
  border: 1px solid #2f016b;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  border-radius: 2px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

#file-mockup .button:hover {
  background-color: #2f016b;
  color: white;
}

#file-mockup .button.home {
  position: absolute;
  padding: 35px 35px;
  margin: 40px;
  top: 0;
  right: 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

#file-mockup .button.home:hover::after, #file-mockup .button.home:hover::before {
  border-color: white;
}

#file-mockup .button.home:after {
  content: '';
  height: 35px;
  border-left: 2px solid #000;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 34px;
  top: 18px;
}

#file-mockup .button.home:before {
  content: '';
  height: 35px;
  border-left: 2px solid #000;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
  left: 34px;
}

.hide-mockup {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 slideOutForm !important;
          animation: 1s cubic-bezier(0.21, 0.6, 0.6, 1) 0s 1 slideOutForm !important;
}

.disable-overflow {
  overflow-y: hidden;
}

@-webkit-keyframes slideOutForm {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes slideOutForm {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}

@-webkit-keyframes slideInForm {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes slideInForm {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes yOverflow {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}

@keyframes yOverflow {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}

@media (max-width: 902px) {
  #file-mockup {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  #file-mockup .button.slovenian, #file-mockup .button.english {
    max-width: 80%;
    display: block;
    margin: 15px 40px;
  }
}
/*# sourceMappingURL=cv.css.map */