@import './sections/_nav.scss';
@import './sections/_welcome.scss';
@import './sections/_about.scss';
@import './sections/_mobile_menu.scss';
@import './sections/_projects.scss';
@import './sections/_contact.scss';
@import './partials/index/_colors.scss';
@import './partials/index/_helpers.scss';
@import './partials/index/_variables.scss';


nav .menu.hamburger {
    display: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    line-height: 100px;
    outline: none;
  }
  
  nav .menu.hamburger .hamburger-box {
    display: block;
    margin: 0px 20px;
  }
  
  nav .menu.hamburger.hamburger.is-active .hamburger-inner {
    background-color: white;
  }
  
  nav .menu.hamburger.hamburger.is-active .hamburger-inner::before, nav .menu.hamburger.hamburger.is-active .hamburger-inner::after {
    background-color: white;
  }


body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
}

.noscroll {
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media (max-width: $screen-break-medium) {

    .container {
        width: 90%;
    }

    nav {

        .menu.hamburger {
            display: block;
        }

        ul li {
            &:not(.menu):not(.logo) {
                display: none;
            }
    
            &.logo {
                margin-right: auto;
            }
    
            &.contact {
                font-size: 15px;
                padding: 20px 27px;
            }
        }
    }

    section#about {
        display: block;

        .side {
            width: 100%;
            padding: 0;
            transition-duration: 0.3s;
        }

        .left-side {
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        } 

        .right-side {
            text-align: center;
        }

        .container {
            display: block;
        }       
    }

    section#projects {
        .projects-list .project {

            &:hover > h1 .date {
                padding: 1px 10px;
            }

            h1 .date {
                display: table;
                padding: 1px 0px;
            }
        }            
    }

}

@media (max-width: $screen-break-small) {
    nav {
        padding: 0px;

        ul {
            li.contact {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    section#welcome {
        .container .centered .action {
            width: 280px;
            height: 70px;
            line-height: 70px;
            font-size: 24px;
            margin-top: 20px;
        }
    }

    section#projects {
        .projects-list .project h1 .date {
            display: table;
        }
    }

}

@media (max-width: $screen-break-xsmall) {
    nav ul li {

        &.contact {
            display: none;
        }

        &.logo {
            margin: 0 auto;
        }
    }
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    &:hover {
        opacity: 0.7;
    }

    &.is-active {
        &:hover {
            opacity: 0.7;
        }
        &.hamburger-inner,
        &.hamburger-inner::before,
        &.hamburger-inner::after {
            background-color: #000;
        }
    }
  }
  
  .hamburger-box {
    width: 30px;
    height: 21px;
    display: inline-block;
    position: relative;
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
  }
  
  .hamburger-inner::before {
    top: -9px;
  }
  
  .hamburger-inner::after {
    bottom: -9px;
  }
  
  /*
     * Spin
     */
  .hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.22s;
            transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
  
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .hamburger--spin.is-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    -webkit-transition-delay: 0.12s;
            transition-delay: 0.12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }
  
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }