body {
  background: none;
}

html {
  scroll-behavior: smooth;
}

.ui.massive.fixed.borderless.secondary.menu {
  height: 90px;
}

#content-wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0px 50px;
  transition-duration: 0.3s;
  border-radius: 10px;
  width: 100%;
}

*:not(i) {
  font-family: 'Rubik', sans-serif !important;
}

a.header:hover {
  color: black !important;
  cursor: default;
}

a:not(.header) {
  transition-duration: 0.3s !important;
}

a:hover:not(.header) {
  padding-left: 10px;
}

.ui.red.basic.button:hover {
  background-color: #db2828 !important;
  color: white !important;
}

.ui.orange.basic.button {
  padding: 20px 40px !important;
}

.ui.orange.basic.button:hover {
  background-color: #f2711c !important;
  color: white !important;
}

.ui.green.basic.button:hover {
  background-color: #21ba45 !important;
  color: white !important;
}

.container {
  transition-duration: 0.3s;
}

.section-header {
  transition-duration: 0.3s;
  color: #b70b0a;
  font-size: 40px;
  font-weight:lighter;
}

#mobile-nav-logo img,
.ui.vertical.sidebar .item.clickable .ui.mini.image {
  width: auto;
}

.ui.vertical.sidebar .item.clickable .ui.mini.image {
  height: 50px !important;
}

i.icon {
  font-size: 0.9em !important;
}

footer #admin-button a {
  cursor: pointer;
  color: #ba0404;
}

.clickable:hover {
  cursor: pointer;
}

/* --- SCROLL BAR --- */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}​

/* --- NAVBAR --- */

#navbar {
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
}

.nav-items-black .item a {
  color: black !important;
  font-size: 17px;
  text-shadow: 0px 0px !important;
}

#navbar .right.menu .item a {
  transition-duration: 0.3s;
  color: white;
  font-size: 17px;
  text-shadow: 2px 2px #000000;
}

#top-banner-wrapper {
  z-index: 5;
  transition-duration: 0.3s;
}

#top-banner-wrapper .links {
  display: none;
}

#content-wrapper {
  transition-duration: 0s;
  margin-top: 30px;
  position: relative;
}

.nav-background {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.3s;
  transform: scaleY(0);
}

.nav-bg-expand {
  transform: scaleY(1);
}

.ui.vertical.sidebar.menu a {
  font-size: 17px;
}

#mobile_item i {
  color: white;
  text-shadow: 1px 2px #000000;
  transition-duration: 0.3s;
}

.mobile-menu-icon-black {
  color: black !important;
  text-shadow: none !important;
}

/* .item img {
  max-height: 115px;
  width: auto !important;
  margin: 0 auto;
} */

.nav-active {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .ui.container:not(.carousel-container) {
    width: 1700px;
  }
}

@media (max-width: 700px) {
  .ui.container:not(.carousel-container) {
    width: 100vw !important;
    margin: 0 !important;
    padding: 5px 10px !important;
  }
  #content-wrapper {
    transition-duration: 0.25s;
    padding: 0 2px !important;
    margin-top: 100px;
  }

}
