@import '../partials/index/_variables.scss';

section#contact {
    min-height: 85vh;
    box-sizing: border-box;
    position: relative;
    background-color: $secondary-color;
    color: $text-light;

    h1 {
        font-size: $text-heading-size;
    }

    svg {
        background: $background-color;
    }

    .option-wrapper {
        border-left: 3px solid $primary-color;      
        display: inline-block;
        transition: .3s ease;
        padding: 10px 20px;
        padding-right: 40px;

        &:hover {
            background: $primary-color;
            color: $text-light;
            border-color: $primary-color;
            cursor: pointer;
            padding-left: 40px;
        }

        p {
            font-size: 20px;
    
            span {
                font-weight: $font-weight--semibold;
                margin-right: 20px;
            }
    
        }
    }

}