/*
purple rgb(156, 39, 176)
accent rgb(224, 64, 251)
*/

#top {
  background-color: rgba(224, 64, 251, 0.4);
  height: 125px;
  color: rgb(156, 39, 176);
  margin-bottom: 20px;
}

#top h1 {
  line-height: 125px;
}

input[type="text"], input[type="date"] {
  border: 2px solid rgb(156, 39, 176);
  border-radius: 10px;
  padding: 7px 10px;
  color: rgb(156, 39, 176);
  font-weight: 500;
  margin: 10px 0px;
  width: 100%;
}

input[type="text"]::placeholder {
  color: rgb(156, 39, 176);
  font-weight: 500;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: 0;
}

label[for="switch-relation-input"] {
  color: rgb(156, 39, 176);
  font-weight: 500;
}

.custom-control-label::before {
  border-color: rgb(156, 39, 176);
}

button[type="submit"] {
  border-radius: 10px;
  background-color: rgba(224, 64, 251, 0.4);
  padding: 10px 10px;
  width: 100%;
  border: none;
  color: rgb(156, 39, 176);
  font-weight: 500;
  margin-top: 10px;
  transition-duration: 0.3s;
}

button[type="submit"]:focus {
  outline: 0;
}

button[type="submit"]:hover {
  transform: scale(0.98);
}

button[type="submit"]:active {
  transform: scale(0.92);
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: rgb(156, 39, 176);
  background-color: rgb(156, 39, 176);
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(224, 64, 251, 0.25);
}

.sk-cube-grid {
  width: 70px;
  height: 70px;
}

.sk-cube {
  background-color: rgb(156, 39, 176) !important;
}

#relation-select-wrapper {
  margin-bottom: 50px;
}

#relation-loader-wrapper {
  transition-duration: 0.3s;
}

#result-list-wrapper {
  transition-duration: 0.3s;
}

#result-list-wrapper .item {
  width: 100%;
  background-color: rgba(224, 64, 251, 0.25);
  border-radius: 10px;
  padding: 15px;
  color: rgb(156, 39, 176);
  font-size: 17px;
  margin-bottom: 20px;
}

#result-list-wrapper .item span {
  padding: 0px 10px;
}

#result-list-wrapper .item .rideTime {
  font-weight: 500;
}

#result-list-wrapper .item .price {
  text-align: right;
  float: right;
}

#error-wrapper {
  text-align: center;
}

#error-wrapper i {
  font-size: 50px;
  color: rgb(156, 39, 176);
  margin-bottom: 20px;
}

.hide {
  display: none !important;
}
