.nav-container {
  transition-duration: 0.1s;
}

nav {
  background-color: #3B5997;
}

@media (max-width: 630px) {
  nav .nav-container {
    width: 99% !important;
  }
}

.brand-logo>img {
  height: 60px;
  vertical-align: middle;
}

nav.nav-extended {
  max-width: 100vw;
}

.mobile-nav-bottom-info {
  color:gray;
  padding-left: 32px;
  font-size: 10px;
}

@media (max-width: 600px) {
  .nav-content {
    display: none;
  }
}

@media (min-width: 600px) {
  .button-collapse {
    display: none !important;
  }
}
