* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;

    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.start_page_content div {
    width: 100vw;
    max-width: 100%;
    background-color: #1a1a1a;
}

.start_page_content div img {
    display: block;
}

.start_page_content div p {
    min-width: 300px;
    color: white;
}

.start_page_content .intro_tab_logo_bg {
    background-image: url("https://i.ytimg.com/vi/HkILCsAOMcQ/maxresdefault.jpg");
    object-fit: fill;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.start_page_content .intro_tab_logo_bg img:hover {
    cursor: pointer;
}

.start_page_content div:nth-child(2), .start_page_content div:nth-child(3), .start_page_content div:nth-child(4) {

    height: 33.3vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.start_page_content #gmaps div {
    height: 80vh;
}

.start_page_content div:nth-child(2) img {
    max-height: 100%;
    width: auto;
    transform: scale(0.8);
}

.start_page_content div:nth-child(2) p {
    font-size: 20px;
    max-width: calc(70em * 0.5);
    transition-duration: 0.3s;
}

.start_page_content div:nth-child(3) {
    background-image: url("https://i.ytimg.com/vi/KYGjICc-fV4/maxresdefault.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start_page_content div:nth-child(3) img {
    max-height: 100%;
    width: auto;
    transform: scale(0.8);
}

.start_page_content div:nth-child(3) p {
    font-size: 20px;
    max-width: calc(70em * 0.5);
    transition-duration: 0.3s;
    color :white;
    text-shadow: 2px 2px black;
}

.start_page_content div:nth-child(4) img {
    max-height: 100%;
    width: auto;
    transform: scale(0.8);
}

.start_page_content div:nth-child(4) p {
    font-size: 20px;
    max-width: calc(70em * 0.5);
    transition-duration: 0.3s;
}

.start_page_content #gmaps div {
    position: relative;
}

.gmaps_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start_page_content #gmaps div .gmaps_overlay {
    position: absolute;
    max-width: 500px;
    max-height: 850px;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    border: none;
    background-color: rgba(26, 26, 26, 0.65);
    transition-duration: 0.3s;
    flex-direction: column;
}

.start_page_content #gmaps div .gmaps_overlay p:nth-child(1) {
    color: gold;
    text-transform: uppercase;
    font-weight: bold;
}

.start_page_content #gmaps div .gmaps_overlay p {
    color: white;
    line-height: 0px;
}

.start_page_content div:nth-child(6) {
    height: 50vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start_page_content div:nth-child(6) input,
.start_page_content div:nth-child(6) textarea {
    width: 500px;
    height: 50px;

    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    outline: none;
    margin-bottom: 15px;
    transition-duration: 0.3s;
}

.start_page_content div:nth-child(6) textarea {
    transition-duration: 0s;
    max-width: 500px;
    width: 500px;
    min-width: 500px;
}

.start_page_content div:nth-child(6) input:hover,
.start_page_content div:nth-child(6) input:focus,
.start_page_content div:nth-child(6) textarea:hover,
.start_page_content div:nth-child(6) textarea:focus {
    border-color: #2196F3;
}

.start_page_content div:nth-child(6) p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    margin-left: -200px;
    transition-duration: 0.3s;
}

.start_page_content div:nth-child(6) button {
    margin-left: -350px;
    width: 150px;
    height: 40px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
}

.start_page_content div:nth-child(6) button:hover {
    background-color: white;
    color: black;
}

footer {
    height: 100px;
    width: 100vw;
    max-width: 100%;
    background-color: black;
}

footer span {
    line-height: 100px;
    margin-left: 50px;
    color: white;
    transition-duration: 0.3s;
}

#parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 700px) {
    .start_page_content div img {
        transition-duration: 0.3s;
        z-index: 1;
    }
    .start_page_content div img:hover {
        transform: scale(1.1);
        z-index: 2;
    } 
}

@media (max-width: 1070px) {
    .start_page_content div:nth-child(2) p, .start_page_content div:nth-child(3) p, .start_page_content div:nth-child(4) p {
        max-width: calc(80em * 0.5);
        font-size: 17px;
    }
    .start_page_content div:nth-child(2) img {
        max-height: 50%;
    }
    .start_page_content div:nth-child(3) img {
        max-height: 50%;
    }
    .start_page_content div:nth-child(4) img {
        max-height: 50%;
    }
    .start_page_content #gmaps div .gmaps_overlay {
        width: 350px;
    }
}

@media (max-width: 700px) {
    .start_page_content div:nth-child(2) p, .start_page_content div:nth-child(3) p, .start_page_content div:nth-child(4) p {
        max-width: calc(40em * 0.5);
        font-size: 13px;
    }
    .start_page_content #gmaps div .gmaps_overlay {
        width: 350px;
    }
}

@media (max-height: 500px) {
    .start_page_content #gmaps div .gmaps_overlay {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 550px) {
    footer span {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .start_page_content div:nth-child(6) input {
        width: 325px;
    }
    .start_page_content div:nth-child(6) button {
        margin-left: -175px;
    }
    .start_page_content div:nth-child(6) p {
        margin-right: -172px;
    }
    .start_page_content div:nth-child(6) textarea {
        width: 325px;
        max-width: 325px;
        min-width: 325px;
    }
}

@media (max-width: 467px) {
    .start_page_content div:nth-child(4) img,
    .start_page_content div:nth-child(3) img,
    .start_page_content div:nth-child(2) img {
        display: none;
    }

    .start_page_content #gmaps div .gmaps_overlay {
        width: 100%;
    }
    .start_page_content #gmaps div .gmaps_overlay p {
        margin-left: 100px;
    }
    .start_page_content div:nth-child(6) input,
    .start_page_content div:nth-child(6) textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    #description_text {
        min-width: 0px;
        max-width: calc(100em * 0.5);
        overflow: hidden;
        word-wrap: break-word;

    }
    #contact_us_text {
        margin: 0;
        margin-left: 50px;
        font-size: 15px;
    }
    #contact_us_button {
        margin: 0;
        width: 100%;
    }
    footer span {
        font-size: 7px;
    }
}

.scrolloff {
    pointer-events: none;
}