@import './_colors.scss';
@import './_helpers.scss';

$screen-break-xsmall: 376px;
$screen-break-small: 435px;
$screen-break-medium: 902px;
$screen-break-large: 1191px;
$screen-break-xlarge: 1400px;

$text-heading-size: 50px;
$text-secondary-size: 20px;