body{
  font-family: "Catamaran";
}

.hide {
  display: none !important;
}

#bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');

  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NhWU2lTogil7ry1y7/videoblocks-pouring-coffee-from-coffee-pot-in-white-cup-surrounded-by-coffee-beans-on-dark-background-with-copyspace-4k-uhd_s6ryyncrx_thumbnail-full03.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  #bgimg {
    width: 50vw;
  }
}

@media (max-width: 768px) {
  #bgimg {
    height: 375px !important;
    width: 100vw;
  }
}

#title {
  font-family: "Caveat";
  color: #5d3e32;
}

#slogan {
  font-family: "Patrick Hand";
}

#nav-buttons button,
#auth-buttons button {
  background-color: #5d3e32;
}

#nav-buttons p a,
#auth-buttons p a {
  color: #5d3e32;
  font-weight: bold;
}

#bulletpoints .msg {
  border: none !important;
  background-color: transparent !important;
  font-size: 45px;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

#bulletpoints ul li {
  border: none !important;
  background-color: transparent !important;
  font-size: 25px;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

#bulletpoints ul li span {
  margin-right: 10px;
}

#authenticate-section,
#auth-buttons {
  display: none;
}
