.first-section {
  padding: 50px;
  padding-left: 0;
}

img {
  float: left;
  padding-right: 30px;
  width: auto;
  height: 60px;
}

.first-section .primary {
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.first-section .secondary {
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  margin: 0;
}

.divider {
  padding: 10px 0px;
  background-color: transparent;
}

footer {
  margin-top: 50px;
}
