.introduction {
  margin-top: 50px;
  text-align: center;
}

.introduction h2 {
  font-weight: bold;
}

.introduction h4 {
  font-size: 28px;
  letter-spacing: 4px;
}

.introduction .bg-img {
  width: 100vw;
  height: 500px;
  max-width: 100%;
  background-image: url(http://www.samsung.com/semiconductor/minisite/ssd/common/img/product/consumer/850evo_img/images/overview_850evo_obj.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.information {
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
}

.information .section .header {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.information .section .description {
  font-size: 20px;
  margin-top: 3px;
}

footer {
  margin-top: 50px;
}
