body {
  display: none;
}

#site_wrapper {
  min-height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: 0.3s;
}

#header {
  margin: 0;
  transition-duration: 0.3s;
}

.ui.stackable.equal.width.grid .column:not(.row) {
  margin: 10px 0px !important;
  transition-duration: 0.3s;
}

.ui.stackable.equal.width.grid .column:not(.row) .ui.header {
  margin-bottom: 5px;
}

.ui.stackable.equal.width.grid .column:not(.row) .ui.description {
  margin-bottom: 5px;
}

#create-question-section {
  display: none;
}

#survey-name-input {
  border-bottom: 1px solid red !important;
}

#survey-name-input:hover,
#survey-name-input:focus {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#survey-name-input:valid {
  border-style: none !important;
}

.module-question-name {
    text-transform: capitalize;
}

#add-input-button {
  margin-bottom: 12px;
}

.ui.error.message {
  margin-top: 0;
  display: none;
  transition-duration: 0.3s;
}

#after-upload-content {
  display: none;
}

#after-upload-content .ui.button {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  #site_wrapper {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #site_wrapper {
    width: 80%;
  }
  .ui.stackable.equal.width.grid .column:not(.row) {
    margin: 0px 0px !important;
  }
  .ui.stackable.equal.width.grid .column:not(.row) .ui.header {
    margin-bottom: 0px;
  }
  #create-question-section {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  #create-question-section {
    margin-top: 18px;
  }
  #survey-name-input-wrapper {
    width: 100% !important;
    margin-bottom: 18px;
  }
}
