body {
  display: none;
}

#site_wrapper {
  height: 100%;
  width: 60%;
  max-width: 650px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  margin: 0;
}

@media (max-width: 1200px) {
  #site_wrapper {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #site_wrapper {
    width: 80%;
  }
}
