* {
  transition-duration: 0.15s;
}

#features .section-header {
  opacity: 0;
}

#features .feature {
  opacity: 0;
}

#tech-specs .section-header {
  opacity: 0;
}

#tech-specs table {
  opacity: 0
}

#video .section-header {
  opacity: 0;
}

#video iframe {
  opacity: 0;
}

.table-of-contents a.active {
  border-color: #3B5997;
}

.table-of-contents a:hover {
  border-color: #3B5997;
}

#sidenav {
  position: fixed;
  right: 0;
}

#introduction h2 {
  margin-top: 0;
  font-weight: bold;
}

#introduction {
  text-align: center;
}

.laptop-intro-image {
  background-image: url(https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF);
  width: 950px;
  height: 560px;
  background-size: 950px 560px;
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -470px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 110px;
}

#features .feature {
  min-height: 10vh;
  width: 100%;
}

#features .feature .header {
  font-size: 35px;
  font-weight: bold;
}

#features .feature .description {
  font-size: 20px;
}

#features .feature .grid-header {
  font-size: 20px;
  font-weight: bold;
}

#features .feature .grid-description {
  font-size: 15px;
}

#tech-specs .table-header {
  font-weight: bold;
  display: block;
}

@media (max-width: 992px) {
  .laptop-intro-image {
    left: 50%;
    margin-left: -250px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 500px;
    height: 250px;
    background-size: 500px 250px;
  }
  .section-header {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .laptop-intro-image {
    left: 50%;
    margin-left: -130px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 250px;
    height: 130px;
    background-size: 250px 130px;
  }
  #introduction h3 {
    font-size: 20px;
  }
  #introduction h2 {
    font-size: 30px;
  }
  #introduction h5 {
    font-size: 15px;
  }
  #features .feature .header {
    font-size: 20px;
  }
  #features .feature .description {
    font-size: 15px;
  }
  #features .feature .grid-header {
    font-size: 15px;
  }

  #features .feature .grid-description {
    font-size: 10px;
  }
  .section-header {
    font-size: 20px;
  }
}
