:active, :focus { outline: none; -moz-outline-style: none; }

#content-wrapper {
  width: 100vw;
  max-width: 100%;
}

#content-wrapper #first-section {
  height: 72vw;
  max-height: 78vh;
  width: 100%;

  background-size: cover;
  background-position: center;
}

#content-wrapper #first-section img {
  height: 100%;
  width: 100%;
}

.sistem {
  display: inline-block;
  width: 30%;
  max-height: 500px;
  padding: 10px;
  margin: 3px;
  cursor: pointer;
}

.sistem .img-wrapper {
  height: 350px;
}

.sistem .img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sistem img {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.sistem p {
  margin: 5px 0px;
}

@media (max-width: 992px) {
  .sistem {
    width: 47%;
  }
}

@media (max-width: 600px) {
  .sistem {
    width: 100%;
    margin: 10px 0;
  }
}
