@font-face { font-family: RobotoBOLD; src: url('../fonts/Roboto-Bold.ttf'); }
@font-face { font-family: RobotoLIGHT; src: url('../fonts/Roboto-Light.ttf'); }
@font-face { font-family: RobotoLIGHTITALIC; src: url('../fonts/Roboto-LightItalic.ttf'); }
@font-face { font-family: RobotoMEDIUM; src: url('../fonts/Roboto-Medium.ttf'); }
@font-face { font-family: RobotoMEDIUMITALIC; src: url('../fonts/Roboto-MediumItalic.ttf'); }
@font-face { font-family: RobotoRegular; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: RobotoTHIN; src: url('../fonts/Roboto-Thin.ttf'); }
@font-face { font-family: RobotoTHINITALIC; src: url('../fonts/Roboto-ThinItalic.ttf'); }

.something_went_wrong_text {
  text-align: center;
  color: #ecf0f1;
  margin-top: 25%;
  background-color: #3498db;
  border-top: 5px solid #2980b9;
  border-bottom: 5px solid #2980b9;
}

.backToHomeButton {
  margin: auto;
  text-align: center;
  border: 3px solid #3498db;
  max-width: 600px;
  min-height: 80px;
  vertical-align: middle;
  line-height: 80px;
  color: #3498db;
  font-size: 50px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
}

.backToHomeButton:hover {
  background-color: #3498db;
  color: white;
  transform: scale(0.98);
}

.backToHomeButton:active {
  transform: scale(0.9);
}

body {
  /*background-image: url('https://s-media-cache-ak0.pinimg.com/originals/9b/6f/a8/9b6fa81e7c4e86b5e9e510c33f90186f.jpg');*/
}
