@font-face {
  font-family: slick;
  src: url(../fonts/slick.woff);
}

:active, :focus { outline: none; -moz-outline-style: none; }

#content-wrapper {
  width: 100vw;
  max-width: 100%;
}

#content-wrapper #first-section {
  height: 72vw;
  max-height: 50vh;
  width: 100%;

  background-image: url(../../img/komponente/header.jpg);
  background-size: cover;
  background-position: center;
}

#content-wrapper #first-section img {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: #3B5997;
  margin-bottom: 0;
}

.content {
  background-color: #293E6B;
}

.content-with-sidebar-wrapper {
  padding: 13px;
}

.racunalniki-in-dodatki-ul h4 {
  color: white;
}

.racunalniki-in-dodatki-ul li {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.racunalniki-in-dodatki-ul li:hover > a {
  padding-left: 10px;
}

.racunalniki-in-dodatki-ul li a {
  color: white;
  line-height: 40px;
  padding-left: 5px;
  transition-duration: 0.2s;
}

.racunalniki-in-dodatki-ul li:hover {
  background-color: rgba(0,0,0,0.1);
}

.racunalniki-in-dodatki-ul li:nth-child(1) {
  height: auto;
  cursor: default;
}

.racunalniki-in-dodatki-ul li:nth-child(1):hover {
  background-color: rgba(0,0,0,0);
}

.racunalniki-in-dodatki-ul #dodatki-li:hover {
  background-color: rgba(0,0,0,0);
  cursor: default;
}

.advertisement-wrapper {
  text-align: center;
}

.advertisement {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.collapsible-body {
  background-color: #ecf0f1;
}

.component-card {
  width: 100%;
  height: 100px;
  cursor: pointer;
  margin: 35px 0px;
  vertical-align: middle;
  transition-duration: 0.3s;
}

.component-card:first-child {
  margin: 0;
}

.component-card:last-child {
  margin: 0;
}

.component-card img {
  height: 100%;
  width: auto;
  vertical-align: middle;
  padding: 10px;
}

.component-card:hover {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.05);
}

.dodatki-icon {
  transition-duration: 0.3s;
}

#KabliPoMeri {
  margin: 35px 0;
  margin-top: 0;
}

#DrzalaZaSSD {
  margin: 35px 0;
}

@media (max-width: 600px) {
  #content-wrapper #second-section #sidebar-wrapper {
    display: none;
  }
  .component-card {
    height: 10px;
  }
  .component-card span {
    text-align: center;
    display: block;
  }
  .component-card img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .component-card {
    height: 50px;
  }
}
