@font-face {
    font-family: ProductSans;
    src: url('../fonts/ProductSansRegular.ttf');
}

* {
  font-family: ProductSans;
}

#site-wrapper {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.28,.54,.02,1);
  min-height: 85vh;

  margin-top: 25px;
  margin-bottom: 25px;
}

#site-wrapper #title {
  margin-bottom: 0;
}

#site-wrapper #sec-title {
  margin-top: 0;
}

#error-alert {
  display: none;
}

.input_error {
  border-color: red;
}

.disabled-text {
  display: none;
}

.signup-button-disabled > .enabled-text {
  display: none;
}

.signup-button-disabled > .disabled-text {
  display: block;
}
